language: cpp
branches:
  only:
  - master
  - /^v\d+\.\d+(\.\d+)?(-\S*)?$/
  - /^travis.*$/
  except:
  - /^v\d+\.\d+\.\d+(\.\d+)?(-\S*)?$/
cache:
  timeout: 1000
  ccache: true
  directories:
  - depends/built
  - depends/work/build
  - depends/sdk-sources
#  - $TRAVIS_BUILD_DIR/depends/$HOST
env:
  global:
  - MAKEJOBS="-j3"
  - GLOBAL_CONFIG="--enable-reduce-exports"
stages:
  - cache
  - build
jobs:
  include:
  - stage: cache
    name: Warming the cache for Win32 on Trusty
    dist: trusty
    before_install:
    - sudo apt-get update; 
    install:
    #
    before_script:
#
    script:
    - set -o errexit; ls -lh; 
    os: linux
  - stage: cache
    name: Warming the cache for Win32 on Xenial
    dist: xenial
    before_install:
    - sudo apt-get update; 
    install:
    #
    before_script:
#
    script:
    - set -o errexit; ls -lh; 
    os: linux
  - stage: cache
    name: Warming the cache for Win32 on Bionic
    dist: bionic
    before_install:
    - sudo apt-get update; 
    install:
    #
    before_script:
#
    script:
    - set -o errexit; ls -lh; 
    os: linux
  - stage: cache
    name: Warming the cache for Win64 on Trusty
    dist: trusty
    before_install:
    - sudo apt-get update; 
    install:
    #
    before_script:
#
    script:
    - set -o errexit; ls -lh; 
    os: linux
  - stage: cache
    name: Warming the cache for Win64 on Xenial
    dist: xenial
    before_install:
    - sudo apt-get update; 
    install:
    #
    before_script:
#
    script:
    - set -o errexit; ls -lh; 
    os: linux
  - stage: cache
    name: Warming the cache for Win64 on Bionic
    dist: bionic
    before_install:
    - sudo apt-get update; 
    install:
    #
    before_script:
#
    script:
    - set -o errexit; ls -lh; 
    os: linux
  - stage: build
    name: Linux x86 64 Bit on Trusty
    dist: trusty
    addons:
      apt:
        sources:
        - deadsnakes
        - sourceline: 'ppa:bitcoin/bitcoin'
        packages:
        - autoconf
        - autotools-dev
        - binutils
        - bsdmainutils
        - build-essential
        - cmake
        - curl
        - libboost-all-dev
        - libbz2-dev
        - libcap-dev
        - libdb4.8-dev
        - libdb4.8++-dev
        - libevent-dev
        - libssl-dev
        - libtool
        - linux-libc-dev
        - miniupnpc
        - libminiupnpc-dev
        - pkg-config
        - python-dev
        - python-setuptools
        - python3
        - python3-zmq 
        - zip
        - zlib1g-dev
        - bc
        - libprotobuf-dev
        - libqrencode-dev
        - qtdeclarative5-dev
        - qttools5-dev-tools
        - linux-libc-dev:i386
    env:
    - BUILD_CONFIG="--enable-zmq --with-gui=qt5 CPPFLAGS=-DDEBUG_LOCKORDER"
    - LABEL=linux64
    - PYZMQ=true
    os: linux
  - stage: build
    name: Linux x86 64 Bit on Xenial
    dist: xenial
    addons:
      apt:
        sources:
        - deadsnakes
        - sourceline: 'ppa:bitcoin/bitcoin'
        packages:
        - build-essential 
        - libtool 
        - autotools-dev 
        - automake 
        - pkg-config 
        - libssl-dev 
        - libevent-dev 
        - bsdmainutils 
        - python3 
        - libboost-system-dev 
        - libboost-filesystem-dev 
        - libboost-chrono-dev 
        - libboost-test-dev 
        - libboost-thread-dev
#
        - libdb4.8-dev 
        - libdb4.8++-dev 
        - libminiupnpc-dev 
        - libzmq3-dev 
        - libqt5gui5 
        - libqt5core5a 
        - libqt5dbus5 
        - qttools5-dev 
        - qttools5-dev-tools 
        - libprotobuf-dev 
        - protobuf-compiler 
        - libqrencode-dev 
        - libboost-program-options-dev
    env:
    - BUILD_CONFIG="--enable-zmq --with-gui=qt5 --with-miniupnpc --enable-upnp-default CPPFLAGS=-DDEBUG_LOCKORDER"
    - LABEL=linux64
    - PYZMQ=true
    os: linux
  - stage: build
    name: Linux x86 64 Bit on Bionic
    dist: bionic
    addons:
      apt:
        sources:
        - deadsnakes
        - sourceline: 'ppa:bitcoin/bitcoin'
        packages:
        - build-essential 
        - libtool 
        - autotools-dev 
        - automake 
        - pkg-config 
        - libssl-dev 
        - libevent-dev 
        - bsdmainutils 
        - python3 
        - libboost-system-dev 
        - libboost-filesystem-dev 
        - libboost-chrono-dev 
        - libboost-test-dev 
        - libboost-thread-dev
#
        - libdb4.8-dev 
        - libdb4.8++-dev 
        - libminiupnpc-dev 
        - libzmq3-dev 
        - libqt5gui5 
        - libqt5core5a 
        - libqt5dbus5 
        - qttools5-dev 
        - qttools5-dev-tools 
        - libprotobuf-dev 
        - protobuf-compiler 
        - libqrencode-dev 
        - libboost-program-options-dev
    env:
    - BUILD_CONFIG="--enable-zmq --with-gui=qt5 --with-miniupnpc --enable-upnp-default CPPFLAGS=-DDEBUG_LOCKORDER"
    - LABEL=linux64
    - OSLABEL=bionic
    - PYZMQ=true
    os: linux
    before_deploy:
    - mkdir $TRAVIS_BUILD_DIR/deploy
    - if [[ "$LABEL" == "linux64" ]]; then cp $TRAVIS_BUILD_DIR/src/xaya-cli $TRAVIS_BUILD_DIR/src/xaya-tx $TRAVIS_BUILD_DIR/src/xayad $TRAVIS_BUILD_DIR/src/qt/xaya-qt $TRAVIS_BUILD_DIR/deploy; strip $TRAVIS_BUILD_DIR/deploy/*; fi
#    - if [[ "$LABEL" == "win32" ]]; then cp $TRAVIS_BUILD_DIR/src/xaya-cli.exe $TRAVIS_BUILD_DIR/src/xaya-tx.exe $TRAVIS_BUILD_DIR/src/xayad.exe $TRAVIS_BUILD_DIR/src/qt/xaya-qt.exe $TRAVIS_BUILD_DIR/deploy; strip $TRAVIS_BUILD_DIR/deploy/*; fi
#    - if [[ "$LABEL" == "win64" ]]; then cp $TRAVIS_BUILD_DIR/src/xaya-cli.exe $TRAVIS_BUILD_DIR/src/xaya-tx.exe $TRAVIS_BUILD_DIR/src/xayad.exe $TRAVIS_BUILD_DIR/src/qt/xaya-qt.exe $TRAVIS_BUILD_DIR/deploy; strip $TRAVIS_BUILD_DIR/deploy/*; fi
    - cd $TRAVIS_BUILD_DIR/deploy
    - ls -lh;
    - if [[ "$LABEL" == "linux64" ]]; then tar -zvcf xaya-bin-${TRAVIS_BRANCH}.${TRAVIS_BUILD_NUMBER}-$LABEL.tar.gz *; fi
#    - if [[ "$LABEL" == "win32" ]]; then zip -P "$DEVPW" xaya-bin-${TRAVIS_BRANCH}.${TRAVIS_BUILD_NUMBER}-$LABEL.zip *; fi
#    - if [[ "$LABEL" == "win64" ]]; then zip -P "$DEVPW" xaya-bin-${TRAVIS_BRANCH}.${TRAVIS_BUILD_NUMBER}-$LABEL.zip *; fi
    deploy:
    provider: releases
    token: $GH_TOKEN
    file_glob: true
    file: $TRAVIS_BUILD_DIR/deploy/xaya-bin*
    overwrite: true
    skip_cleanup: true
    draft: true
#    name: ${TRAVIS_BRANCH}.${TRAVIS_BUILD_NUMBER}-${LABEL}
    tag_name: ${TRAVIS_BRANCH}.${TRAVIS_BUILD_NUMBER}-${LABEL}
    on:
    repo: cryptocrowd-city/xcrc-core-wallet
    all_branches: true
  - stage: build
    name: Win i686 32 Bit on Trusty
    dist: trusty
    addons:
      apt:
        sources:
        - deadsnakes
        - sourceline: 'ppa:bitcoin/bitcoin'      
        packages:
        - autoconf
        - autotools-dev
        - binutils
        - bsdmainutils
        - build-essential
        - cmake
        - curl
        - libboost-all-dev
        - libbz2-dev
        - libcap-dev
        - libdb4.8-dev
        - libdb4.8++-dev
        - libevent-dev
        - libssl-dev
        - libtool
        - linux-libc-dev
        - miniupnpc
        - libminiupnpc-dev
        - pkg-config
        - python-dev
        - python-setuptools
        - python3
        - python3-zmq
        - zip
        - zlib1g-dev
        - bc
        - libprotobuf-dev
        - libqrencode-dev
        - qtdeclarative5-dev
        - qttools5-dev-tools
        - linux-libc-dev:i386
# Win32
        - g++-mingw-w64-i686
        - mingw-w64-i686-dev
    env:
    - BUILD_CONFIG="--enable-zmq --with-gui=qt5"
    - LABEL=win32
    - HOST=i686-w64-mingw32
    os: linux
  - stage: build
    name: Win i686 32 Bit on Xenial
    dist: xenial
    addons:
      apt:
        sources:
        - deadsnakes
        - sourceline: 'ppa:bitcoin/bitcoin'      
        packages:
        - build-essential 
        - libtool 
        - autotools-dev 
        - automake 
        - pkg-config 
        - libssl-dev 
        - libevent-dev 
        - bsdmainutils 
        - python3 
        - libboost-system-dev 
        - libboost-filesystem-dev 
        - libboost-chrono-dev 
        - libboost-test-dev 
        - libboost-thread-dev
# Additional
        - libdb4.8-dev 
        - libdb4.8++-dev 
        - libminiupnpc-dev 
        - libzmq3-dev 
        - libqt5gui5 
        - libqt5core5a 
        - libqt5dbus5 
        - qttools5-dev 
        - qttools5-dev-tools 
        - libprotobuf-dev 
        - protobuf-compiler 
        - libqrencode-dev 
        - libboost-program-options-dev
# Win32
        - g++-mingw-w64-i686
        - mingw-w64-i686-dev
    env:
    - BUILD_CONFIG="--enable-zmq --with-gui=qt5 --with-miniupnpc --enable-upnp-default"
    - LABEL=win32
    - HOST=i686-w64-mingw32
    os: linux
  - stage: build
    name: Win i686 32 Bit on Bionic
    dist: bionic
    addons:
      apt:
        sources:
        - deadsnakes
        - sourceline: 'ppa:bitcoin/bitcoin'      
        packages:
        - build-essential 
        - libtool 
        - autotools-dev 
        - automake 
        - pkg-config 
        - libssl-dev 
        - libevent-dev 
        - bsdmainutils 
        - python3 
        - libboost-system-dev 
        - libboost-filesystem-dev 
        - libboost-chrono-dev 
        - libboost-test-dev 
        - libboost-thread-dev
# Additional
        - libdb4.8-dev 
        - libdb4.8++-dev 
        - libminiupnpc-dev 
        - libzmq3-dev 
        - libqt5gui5 
        - libqt5core5a 
        - libqt5dbus5 
        - qttools5-dev 
        - qttools5-dev-tools 
        - libprotobuf-dev 
        - protobuf-compiler 
        - libqrencode-dev 
        - libboost-program-options-dev
# Win32
        - g++-mingw-w64-i686
        - mingw-w64-i686-dev
    env:
    - BUILD_CONFIG="--enable-zmq --with-gui=qt5 --with-miniupnpc --enable-upnp-default"
    - LABEL=win32
    - OSLABEL=bionic
    - HOST=i686-w64-mingw32
    os: linux
  - stage: build
    name: Win x86 64 Bit on Trusty
    dist: trusty
    addons:
      apt:
        sources:
        - deadsnakes
        - sourceline: 'ppa:bitcoin/bitcoin'      
        packages:
        - autoconf
        - autotools-dev
        - binutils
        - bsdmainutils
        - build-essential
        - cmake
        - curl
        - libboost-all-dev
        - libbz2-dev
        - libcap-dev
        - libdb4.8-dev
        - libdb4.8++-dev
        - libevent-dev
        - libssl-dev
        - libtool
        - linux-libc-dev
        - miniupnpc
        - libminiupnpc-dev
        - pkg-config
        - python-dev
        - python-setuptools
        - python3
        - python3-zmq
        - zip
        - zlib1g-dev
        - bc
        - libprotobuf-dev
        - libqrencode-dev
        - qtdeclarative5-dev
        - qttools5-dev-tools
# Win64
        - g++-mingw-w64-x86-64
    env:
    - BUILD_CONFIG="--enable-zmq --with-gui=qt5 LDFLAGS=-Wa,-mbig-obj"
    - LABEL=win64
    - HOST=x86_64-w64-mingw32
    os: linux
  - stage: build
    name: Win x86 64 Bit on Xenial
    dist: xenial
    addons:
      apt:
        sources:
        - deadsnakes
        - sourceline: 'ppa:bitcoin/bitcoin'      
        packages:
        - build-essential 
        - libtool 
        - autotools-dev 
        - automake 
        - pkg-config 
        - libssl-dev 
        - libevent-dev 
        - bsdmainutils 
        - python3 
        - libboost-system-dev 
        - libboost-filesystem-dev 
        - libboost-chrono-dev 
        - libboost-test-dev 
        - libboost-thread-dev
# Additional
        - libdb4.8-dev 
        - libdb4.8++-dev 
        - libminiupnpc-dev 
        - libzmq3-dev 
        - libqt5gui5 
        - libqt5core5a 
        - libqt5dbus5 
        - qttools5-dev 
        - qttools5-dev-tools 
        - libprotobuf-dev 
        - protobuf-compiler 
        - libqrencode-dev 
        - libboost-program-options-dev
# Win64
        - g++-mingw-w64-x86-64
    env:
    - BUILD_CONFIG="--enable-zmq --with-gui=qt5 --with-miniupnpc --enable-upnp-default LDFLAGS=-Wa,-mbig-obj"
    - LABEL=win64
    - HOST=x86_64-w64-mingw32
    os: linux
  - stage: build
    name: Win x86 64 Bit on Bionic
    dist: bionic
    addons:
      apt:
        sources:
        - deadsnakes
        - sourceline: 'ppa:bitcoin/bitcoin'      
        packages:
        - build-essential 
        - libtool 
        - autotools-dev 
        - automake 
        - pkg-config 
        - libssl-dev 
        - libevent-dev 
        - bsdmainutils 
        - python3 
        - libboost-system-dev 
        - libboost-filesystem-dev 
        - libboost-chrono-dev 
        - libboost-test-dev 
        - libboost-thread-dev
# Additional
        - libdb4.8-dev 
        - libdb4.8++-dev 
        - libminiupnpc-dev 
        - libzmq3-dev 
        - libqt5gui5 
        - libqt5core5a 
        - libqt5dbus5 
        - qttools5-dev 
        - qttools5-dev-tools 
        - libprotobuf-dev 
        - protobuf-compiler 
        - libqrencode-dev 
        - libboost-program-options-dev
# Win64
        - g++-mingw-w64-x86-64
    env:
    - BUILD_CONFIG="--enable-zmq --with-gui=qt5 --with-miniupnpc --enable-upnp-default LDFLAGS=-Wa,-mbig-obj"
    - LABEL=win64
    - OSLABEL=bionic
    - HOST=x86_64-w64-mingw32
    os: linux
before_install:
#- sudo apt-get upgrade -y --allow-unauthenticated; 
- if [[ "$LABEL" == "win32" ]]; then  sudo dpkg --add-architecture i386; fi
- if [ "$OSLABEL" == "bionic"] && ["$HOST" == "i686-w64-mingw32"]; then echo 1 | sudo update-alternatives --config i686-w64-mingw32-g++; echo 1 | sudo update-alternatives --config x86_64-w64-mingw32-gcc; fi
- if [ "$OSLABEL" == "bionic"] && ["$HOST" == "x86_64-w64-mingw32"]; then echo 1 | sudo update-alternatives --config x86_64-w64-mingw32-g++; fi # echo 1 | sudo update-alternatives --config x86_64-w64-mingw32-gcc; fi
install:
- if [ "$PYZMQ" = "true" ]; then pip install pyzmq --user ; fi
before_script:
- if [[ "$LABEL" == "win32" ]]; then PATH=$(echo "$PATH" | sed -e 's/:\/mnt.*//g'); fi
- if [[ "$LABEL" == "win64" ]]; then PATH=$(echo "$PATH" | sed -e 's/:\/mnt.*//g'); fi
script:
- set -o errexit; if [[ "$LABEL" == "win32" ]]; then make $MAKEJOBS -C depends HOST="$HOST"; fi
- set -o errexit; if [[ "$LABEL" == "win64" ]]; then make $MAKEJOBS -C depends HOST="$HOST"; fi
- set -o errexit; if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./autogen.sh; fi
- set -o errexit; if [[ "$LABEL" == "linux64" ]]; then ./configure $GLOBAL_CONFIG $BUILD_CONFIG; fi
- set -o errexit; if [[ "$LABEL" == "win32" ]]; then CONFIG_SITE=$PWD/depends/i686-w64-mingw32/share/config.site ./configure --prefix=/; fi
- set -o errexit; if [[ "$LABEL" == "win64" ]]; then CONFIG_SITE=$PWD/depends/x86_64-w64-mingw32/share/config.site ./configure --prefix=/; fi
- set -o errexit; if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then make $MAKEJOBS; fi

